In [233]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mutual_info_score, accuracy_score, mean_squared_error

In [2]:
data= 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv'

In [3]:
!wget $data -O data-weekhw-3.csv

--2025-10-14 01:05:40--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘data-weekhw-3.csv’

data-weekhw-3.csv   100%[===================>]  78.98K  --.-KB/s    in 0.01s

2025-10-14 01:05:40 (7.75 MB/s) - ‘data-weekhw-3.csv’ saved [80876/80876]

In [8]:
df = pd.read_csv('data-weekhw-3.csv')

In [9]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [10]:
#our desired target for classification task will be converted variable - has the client signed up to the platform or not.

In [15]:
#check if the missing values are presented in the features
#If there are missing values:
#For categorical features, replace them with 'NA'
#For numerical features, replace with with 0.0

In [11]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [14]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [16]:
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
lead_score,0.94,0.8,0.69,0.87,0.62
converted,1,0,1,0,1

In [17]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

In [35]:
categorical_columns

['lead_source', 'industry', 'employment_status', 'location']

In [ ]:
['number_of_courses_viewed', 'interaction_count', 'converted' ,'annual_income', 'lead_score']

In [29]:
numerical_columns =list(df.dtypes[df.dtypes == 'float64'].index)

In [38]:
numerical_columns = ['number_of_courses_viewed', 'interaction_count', 'annual_income','lead_score']

In [39]:
 numerical_columns

['number_of_courses_viewed',
 'interaction_count',
 'annual_income',
 'lead_score']

In [42]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income                 0
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [41]:
df.annual_income = df.annual_income.fillna(0)

In [43]:
for c in categorical_columns:
    df[c] = df[c].fillna('NA')

In [44]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [45]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NA,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NA,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [68]:
 filtered_df_age = df[df['industry'] != 0]

In [209]:
df.describe(include=["O"])

           lead_source industry employment_status       location
count             1462     1462              1462           1462
unique               6        8                 5              8
top     organic_search   retail     self_employed  north_america
freq               282      203               352            225

In [210]:
df['industry'].value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

In [70]:
# Get the mode of a specific column
most_frequent_category = df['industry'].mode()

In [71]:
most_frequent_category

0    retail
Name: industry, dtype: object

In [ ]:
#Question 2
#Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

#What are the two features that have the biggest correlation?

In [72]:
numerical_columns

['number_of_courses_viewed',
 'interaction_count',
 'annual_income',
 'lead_score']

In [73]:
df.number_of_courses_viewed.max()

np.int64(9)

In [74]:
df.interaction_count.max()

np.int64(11)

In [76]:
df.annual_income.max()

np.float64(109899.0)

In [75]:
df.lead_score.max()

np.float64(1.0)

In [77]:
df.converted

0       1
1       0
2       1
3       0
4       1
       ..
1457    1
1458    1
1459    1
1460    1
1461    1
Name: converted, Length: 1462, dtype: int64

In [78]:
df.converted.isnull().sum()

np.int64(0)

In [79]:
df.converted.head()

0    1
1    0
2    1
3    0
4    1
Name: converted, dtype: int64

In [80]:
# 3.3 setting up the validation framewokrk

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
df_full_train , df_test = train_test_split(df, test_size=0.2, random_state=42)

In [84]:
len(df_full_train), len(df_test)

(1169, 293)

In [85]:
len(df)

1462

In [86]:
df_train , df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [87]:
len(df_train), len(df_val)

(876, 293)

In [88]:
df_train=df_train.reset_index(drop= True)
df_val = df_val.reset_index(drop= True)
df_test = df_test.reset_index(drop= True)

In [89]:
y_train =  df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

In [90]:
y_train

array([0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1])

In [91]:
y_val

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0])

In [92]:
del df_train['converted']
del df_val['converted']
del df_test['converted']

In [93]:
df_train.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score
0,paid_ads,retail,0,58472.0,student,middle_east,5,0.03
1,organic_search,manufacturing,3,71738.0,student,middle_east,6,0.77
2,paid_ads,technology,3,81973.0,employed,north_america,2,0.59
3,NA,technology,1,74956.0,employed,europe,3,0.34
4,organic_search,retail,3,59335.0,student,australia,1,0.98

In [95]:
df_full_train.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
1066,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71,0
638,events,retail,3,38048.0,student,north_america,6,0.97,1
799,social_media,education,2,71399.0,NA,europe,1,0.51,1
380,referral,education,2,47912.0,employed,australia,1,0.04,0
303,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32,1

In [96]:
df_full_train = df_full_train.reset_index(drop= True)

In [97]:
df_full_train.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71,0
1,events,retail,3,38048.0,student,north_america,6,0.97,1
2,social_media,education,2,71399.0,NA,europe,1,0.51,1
3,referral,education,2,47912.0,employed,australia,1,0.04,0
4,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32,1

In [98]:
df_full_train.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [99]:
df_full_train.converted.value_counts(normalize= True)

converted
1    0.607357
0    0.392643
Name: proportion, dtype: float64

In [100]:
df_full_train.converted.mean()

np.float64(0.6073567151411463)

In [101]:
global_churn_rate =  df_full_train.converted.mean()
round(global_churn_rate,2)

np.float64(0.61)

In [102]:
df_full_train.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [103]:
numerical =   ['number_of_courses_viewed', 'interaction_count', 'annual_income','lead_score']
numerical
df_full_train.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [104]:
categorical = [ 'lead_source', 'industry', 'employment_status', 'location' ]

In [105]:
df_full_train[categorical].nunique()

lead_source          6
industry             8
employment_status    5
location             8
dtype: int64

In [106]:
df_full_train.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71,0
1,events,retail,3,38048.0,student,north_america,6,0.97,1
2,social_media,education,2,71399.0,NA,europe,1,0.51,1
3,referral,education,2,47912.0,employed,australia,1,0.04,0
4,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32,1

In [107]:
global_converted=  df_full_train.converted.mean()
global_converted

np.float64(0.6073567151411463)

In [108]:
df_full_train.lead_source.value_counts()

lead_source
organic_search    229
social_media      216
paid_ads          210
referral          206
events            199
NA                109
Name: count, dtype: int64

In [109]:
from IPython.display import display

In [110]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).converted.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_converted
    df_group['risk'] = df_group['mean']  / global_converted
    display(df_group)
    print()
    print()

lead_source

                    mean  count      diff      risk
lead_source
NA              0.669725    109  0.062368  1.102688
events          0.592965    199 -0.014392  0.976304
organic_search  0.615721    229  0.008364  1.013771
paid_ads        0.428571    210 -0.178785  0.705634
referral        0.786408    206  0.179051  1.294804
social_media    0.583333    216 -0.024023  0.960446

industry

                   mean  count      diff      risk
industry
NA             0.557522    113 -0.049835  0.917948
education      0.790210    143  0.182853  1.301064
finance        0.556886    167 -0.050470  0.916901
healthcare     0.593333    150 -0.014023  0.976911
manufacturing  0.621429    140  0.014072  1.023169
other          0.612903    155  0.005547  1.009132
retail         0.566265    166 -0.041092  0.932343
technology     0.562963    135 -0.044394  0.926907

employment_status

                       mean  count      diff      risk
employment_status
NA                 0.571429     84 -0.035928  0.940845
employed           0.671937    253  0.064580  1.106330
self_employed      0.635739    291  0.028382  1.046731
student            0.659722    288  0.052366  1.086219
unemployed         0.462451    253 -0.144906  0.761415

location

                   mean  count      diff      risk
location
NA             0.680000     50  0.072643  1.119606
africa         0.592857    140 -0.014500  0.976127
asia           0.588608    158 -0.018749  0.969130
australia      0.612903    155  0.005547  1.009132
europe         0.641176    170  0.033820  1.055684
middle_east    0.644172    163  0.036815  1.060615
north_america  0.589888    178 -0.017469  0.971238
south_america  0.554839    155 -0.052518  0.913530

In [111]:
from sklearn.metrics import mutual_info_score

In [126]:
mutual_info_score(df_full_train.converted, df_full_train.lead_source)

0.025665373935054955

In [127]:
mutual_info_score(df_full_train.employment_status, df_full_train.converted)

0.013258496589914293

In [128]:
mutual_info_score(df_full_train.industry, df_full_train.converted)

0.011684562750165564

In [129]:
mutual_info_score(df_full_train.location, df_full_train.converted)

0.0022530354195563346

In [130]:
def mutual_info_converted_score(series):
    return mutual_info_score(series, df_full_train.converted)

In [132]:
mi = df_full_train[categorical].apply(mutual_info_converted_score)
mi = round(mi, 2)
mi.sort_values(ascending = False)

lead_source          0.03
industry             0.01
employment_status    0.01
location             0.00
dtype: float64

In [213]:
data_numeric = df_full_train[numerical]  
data_numeric.describe()

       number_of_courses_viewed  interaction_count  annual_income   lead_score
count               1169.000000        1169.000000    1169.000000  1169.000000
mean                   2.010265           2.928999   52113.902481     0.504688
std                    1.457702           1.682685   24255.789651     0.289319
min                    0.000000           0.000000       0.000000     0.000000
25%                    1.000000           2.000000   43787.000000     0.270000
50%                    2.000000           3.000000   57183.000000     0.500000
75%                    3.000000           4.000000   68218.000000     0.750000
max                    8.000000          11.000000  109899.000000     1.000000

In [215]:
data_numeric.corr
data_numeric.corr().unstack().sort_values(ascending = False)

number_of_courses_viewed  number_of_courses_viewed    1.000000
interaction_count         interaction_count           1.000000
lead_score                lead_score                  1.000000
annual_income             annual_income               1.000000
interaction_count         lead_score                  0.025393
lead_score                interaction_count           0.025393
annual_income             lead_score                  0.021273
lead_score                annual_income               0.021273
number_of_courses_viewed  annual_income               0.012227
annual_income             number_of_courses_viewed    0.012227
                          interaction_count           0.011959
interaction_count         annual_income               0.011959
number_of_courses_viewed  lead_score                  0.009427
lead_score                number_of_courses_viewed    0.009427
interaction_count         number_of_courses_viewed   -0.044381
number_of_courses_viewed  interaction_count          -0.044381
dtype: float64

In [112]:
df_full_train[numerical].corrwith(df_full_train.converted).abs()

number_of_courses_viewed    0.442068
interaction_count           0.378482
annual_income               0.029612
lead_score                  0.225641
dtype: float64

In [212]:
df_full_train[numerical].corr

<bound method DataFrame.corr of       number_of_courses_viewed  interaction_count  annual_income  lead_score
0                            2                  1        44403.0        0.71
1                            3                  6        38048.0        0.97
2                            2                  1        71399.0        0.51
3                            2                  1        47912.0        0.04
4                            1                  4        34806.0        0.32
...                        ...                ...            ...         ...
1164                         1                  2        57039.0        0.30
1165                         2                  2        56185.0        0.44
1166                         1                  1        56402.0        0.02
1167                         1                  3        45688.0        0.02
1168                         0                  4        43862.0        0.21

[1169 rows x 4 columns]>

In [113]:
df_full_train.number_of_courses_viewed.max()

np.int64(8)

In [121]:
df_full_train[df_full_train.number_of_courses_viewed > 7 ].converted.mean()

np.float64(1.0)

In [216]:
from sklearn.feature_extraction import DictVectorizer

In [218]:
train_dicts = df_train[categorical  ].to_dict(orient = 'records')

In [219]:
dv =  DictVectorizer(sparse = False)

In [220]:
dv.fit(train_dicts)
X_train =  dv.transform(train_dicts)

In [138]:
X_train.shape

(876, 31)

In [221]:
val_dicts = df_val[categorical  ].to_dict(orient = 'records')
X_val =  dv.transform(val_dicts)

In [222]:
X_val.shape

(293, 27)

In [223]:
dv.get_feature_names_out()

array(['employment_status=NA', 'employment_status=employed',
       'employment_status=self_employed', 'employment_status=student',
       'employment_status=unemployed', 'industry=NA',
       'industry=education', 'industry=finance', 'industry=healthcare',
       'industry=manufacturing', 'industry=other', 'industry=retail',
       'industry=technology', 'lead_source=NA', 'lead_source=events',
       'lead_source=organic_search', 'lead_source=paid_ads',
       'lead_source=referral', 'lead_source=social_media', 'location=NA',
       'location=africa', 'location=asia', 'location=australia',
       'location=europe', 'location=middle_east',
       'location=north_america', 'location=south_america'], dtype=object)

In [224]:
list(dv.transform(train_dicts[:5][0]))

[array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0.])]

In [147]:
def logistic_regression(xi):
    score = w0

    for j in range(len(w)):
        score = score + xi[j] * w[j]

    result = sigmoid(score)
    return result

In [148]:
from sklearn.linear_model import LogisticRegression

In [225]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [240]:
model.predict(X_train)
y_pred = model.predict(X_val)
accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(f'Accuracy = {accuracy}')

Accuracy = 0.61

np.float64(0.6996587030716723)

In [241]:
dicts_full_train = df_full_train[categorical].to_dict(orient =  'records')

In [243]:
dv =  DictVectorizer(sparse=False)
X_full_train =  dv.fit_transform(dicts_full_train)

In [244]:
y_full_train = df_full_train.converted.values

In [ ]:
#3model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42) C: [0.01, 0.1, 1, 10, 100]

In [263]:
model = LogisticRegression(C=0.01)
model.fit(X_full_train, y_full_train)

LogisticRegression(C=0.01)

In [264]:
dicts_test =  df_test[categorical ].to_dict(orient =  'records')
X_test  =  dv.transform(dicts_test)
y_pred =  model.predict(X_test)
accuracy = np.round(accuracy_score(y_val, y_pred),3)
print(f'Accuracy = {accuracy}')

Accuracy = 0.58

np.float64(0.308)